.footer-container{
  width:100%;
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;

}
.footer {
  display: flex;
  position: absolute;
  bottom:0;
  justify-content: space-around;
  padding-bottom: 20px;
  color: $off-black;
  font-size: $font-size-medium;
  svg {
    margin-left: 15px;
    opacity: 1;
    transition: opacity 2s;
  }
}
.footer-copy{
  cursor: pointer;
}
.footer-code{
  color:$tasty-orange;
  font-family: $mono-font-stack;
}
.footer-copied{
  position: relative;
  top:-40px;
  font-size: $font-size-small;
  background-color:$success-green;
  color:white;
  border-radius: 5px;
  padding: 5px 4px 4px 6px;
  margin-bottom: -5px;
  margin-right:-80px;
  text-align: center;
  display: inline-block;
}
@media all and (max-width: $desktop-breakpoint) {
  .footer {
    font-size: $font-size-small;
  }
  .footer-copied{
    top:-35px;
  }
}
@media all and (max-width: $xsmall-mobile-breakpoint) {
  .footer_label {
    display: none;
  }
}
