.footer{
    display: flex;
    position: relative;
    vertical-align: bottom;
    justify-content: space-around;
    padding-bottom: 20px;
    color:$off-black;
    font-size: 30px;
    svg{
        margin-left: 15px;
        opacity:1;
        transition: opacity 2s;
      }
}