.header {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  padding: 0 20px 2px 0px;
  * {
    font-size: $font-size-medium;
    color: white;
  }
}
.header-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  background: $tasty-orange;
  margin-bottom: 30px;
  box-shadow: 5px 0 10px rgba(110, 110, 110, 0.2);
  ::-moz-selection {
    background: white;
    color: $tasty-orange;
  }
  ::selection {
    background: white;
    color: $tasty-orange;
  }
}
.container-header {
  width: 100%;
}
.header-title {
  color: lighten($tasty-orange, 50%);
  position: relative;
  margin: 0;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  font-size: $font-size-title;
  font-family: $mono-font-stack;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: left;
  position: relative;
  width: 100%;
  background: $tasty-orange;
  flex-basis: 50%;
}
.header-save {
  border-radius: 4px;
  background: white;
  color: $tasty-orange;
  font-size: $font-size-small;
  margin: 0 0 0 5px;
  padding: 6px 10px 8px 10px;
  cursor: pointer;
  position: relative;
  top: -5px;
}

.header-logout {
  background: none;

  color: $off-black;
  cursor: pointer;
  svg {
    margin-left: 15px;
  }
}

.header-groupname {
  .header-groupname-intro {
    opacity: 0.6;
  }
  input {
    width: 200px;
    background: none;
    padding: 0;
    opacity: 1;
    margin-left: 10px;
  }
  input:focus {
    border-bottom: 2px solid lighten($tasty-orange, 10%);
  }
}
@media all and (max-width:1000px){
  .header {
    * {
      font-size: $font-size-small;
    }
  }
  .header-container{
    flex-direction: column;
  }
    .header {

    padding: 0 20px 16px 20px;
  }
}
@media all and (max-width: $desktop-breakpoint) {

  .header-container {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .header-save {
 
    font-size: $font-size-xsmall;
  }
  .header-logout__fa {
    path {
      font-size: 100px;
    }
  }
  .header-groupname {
    input {
      width: 40vw;
      max-width: 200px;
    }
  }
  .header-groupname-intro__name {
    display: none;
  }
  .header-title {
    padding-bottom: 0;
  }
}
@media all and (max-width: $small-mobile-breakpoint) {
  .header-groupname-intro {
    display: none;
  }
  .header-logout__text {
    display: none;
  }
}
