.header {
  width: 100%;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px 16px 20px;
  * {
    font-size: $font-size-medium ;
    color: $off-black;
  }
}
.header-title{
  display:inline;
  align-self: flex-end;
}
.container-header{
  width:100%;
}
.header-save{
  border-radius: 4px;
  background: $tasty-orange;
  color:white;
  font-size: $font-size-small;
  margin:0 0 0 5px;
  padding: 6px 8px 8px 8px;
  cursor: pointer;
  position: relative;
  top:-5px;
}


.header-logout {
  background: none;
  
  color: $off-black;
  cursor: pointer;
  svg {
    margin-left: 15px;
  }
}

.header-groupname {
  .header-groupname-intro {
    opacity: 0.6;
  }
  input {
    width: 200px;
    background: none;
    padding: 0;
    opacity: 1;
    margin-left: 10px;
  }
  input:focus {
    border-bottom: 2px solid lighten($off-black, 60%);
  }
}
@media all and (max-width: $desktop-breakpoint) {
  .header-logout__text {
    display: none;
  }
  .header {
    * {
      color: white;
      font-size: $font-size-small;
    }
    background: $tasty-orange;

  }
  .header-save{
    background: white;
    color:$tasty-orange;
    font-size: $font-size-xsmall;
  }
  .header-logout__fa {
    path {
      font-size: 100px;
    }
  }
  .header-groupname{
    input{
      width: 40vw;
      max-width: 200px;
    }
  }
  .header-groupname-intro__name {
    display: none;
  }
}
@media all and (max-width: $small-mobile-breakpoint) {
  .header-groupname-intro {
    display: none;
  }
}
