html,
body {
  background-color: $off-white;
  min-height: 100vh;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $off-black;
  margin: 0;
  font-family: $sans-font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  min-width: 100vw;
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}
/*:focus {
  outline: none;
}*/
a {
  color: $tasty-orange;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.component-header{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom:3px solid $off-white;
  padding:0 6%;
}
button {
  border: none;
  padding: 10px;
  margin: 5px;
}
.component-header-title{
  font-size: $font-size-large;
}
.header-link{
  text-decoration: none;
  font-size: $font-size-medium;
}
.button_rounded{
  background: $tasty-orange;
  color: white;
  border-radius: 100px;
  padding: 10px 50px;
  margin-top:10px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $mono-font-stack;
}
input {
  border: none;
  padding: 10px;
}
h4 {
  margin-bottom: 0;
  margin-top: 5px;
}
.container {
  width: 100vw;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-main {
  width: $desktop-breakpoint;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  box-shadow: 5px 5px 30px rgba(110, 110, 110, 0.1);
}
.strikethrough{
  text-decoration: 4px line-through solid lighten($success-green,20%);
}
::-moz-selection {
  background: $tasty-orange;
  color: white;
}
::selection {
  background: $tasty-orange;
  color: white;
}
.fade{
  opacity: 0.6;
}

@media all and (max-width:$desktop-breakpoint){
  .container-main {
    width:93%;
    height: 100%;
    margin:0;
    position: relative;
    top:-16px;
  box-shadow:3px 3px 20px rgba(110, 110, 110, 0.1);
  }
  .header-link{
    font-size: $font-size-small;
  }
}