// Colours dd5533
$dark-grey:#282c34;
$off-white:#eeeeee;
$off-black:#333333;
$tasty-orange:#e26d58;
$error-orange:#be5b5b;
$success-green:#5bbe5b;
//Breakpoints
$desktop-breakpoint:800px;
$small-mobile-breakpoint:500px;
$xsmall-mobile-breakpoint:340px;
//Sizes
$font-size-medium:24px;
$font-size-small:19px;
$font-size-xsmall:15px;
$font-size-title:26px;
$font-size-large:38px;
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Space+Mono&display=swap');
$sans-font-stack: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$mono-font-stack: "Space Mono",monospace